@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    font-family: 'Inter', sans-serif;
    cursor: default;
}

:root{
    --color-blue: #4200FF;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-red: #CE4646;
    --color-green: #4BA036;

    --font-size-1: 1rem;
    --font-size-2: 1.125rem;
    --font-size-3: 1.25rem;
    --font-size-4: 1.375rem;
    --font-size-5: 1.875rem;
    --font-size-6: 2rem;
    --font-size-7: 2.25rem;
    --font-size-8: 2.5rem;
}

button{
    cursor: pointer;
}

.none{
    display: none;
}

.desappear{
    animation: desappear 1s ease-in;
}

.appear{
    animation: appear 1s ease-in;
}

.div-toast-response-red{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height: 100px;
    color: var(--color-white);
    background-color: var(--color-red);
    animation: toastAlerts 4s ease-in forwards;
    border-radius: 8px;
    font-size: var(--font-size-2);
    font-weight: 700;
}

.title-toast-response-red{
    color: var(--color-white);
    margin-bottom: 1rem;
}

.desc-toast-response-red{
    color: var(--color-white);
}

.div-toast-response-green{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    width: 300px;
    height: 100px;
    color: var(--color-white);
    background-color: var(--color-green);
    animation: toastAlerts 4s ease-in forwards;
    border-radius: 8px;
    font-size: var(--font-size-2);
    font-weight: 700;
}

.title-toast-response-green{
    color: var(--color-white);
    margin-bottom: 1rem;
}

.desc-toast-response-green{
    color: var(--color-white);
}

@keyframes desappear {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes toastAlerts {
    0%   {right: 30px; top:-200px}
    25%  {right: 30px; top:20px}
    50%  {right: 30px; top:20px}
    100% {right: 30px; top:-300px}
}